mixin projects(data, projects)
    section(
      class='section',
      id=data.nav.anchor
    )
      +sectionTitle(data['title'])

      div(class='container subsection')

        - let i = 0;
        - let nbCol = 2;
        - let projs = projects.slice();
        while 0 < projs.length
          - let arr = projs.splice(0,nbCol)
          div(class='columns')
            each project in arr
              +project(project, ++i)

mixin project(project, id)
  - let hasDetails = project['details'];
  div(class='column is-half')
    - let clazz = 'card modal-button';
    - if (hasDetails) clazz+=' is-shady';
    div(class=clazz target=`p${id}`)
      //- Card header
      div(class='card-header has-background-link')
        p(class='card-header-title has-text-white') #{project['position']}
        if hasDetails
          p(class='card-header-icon has-text-white')
            span(class='icon')
              i(class='fas fa-ellipsis-h')
      //- Card content
      div(class='card-content card-content-project')
        ul(class='fa-ul')
          li
            +icon('fas fa-building', 'fa-li')
            span(class='has-text-weight-bold')  #{project['company']}
          li
            +icon('fas fa-city', 'fa-li')
            span(class='') #{project['location']}
          li
            +icon('fas fa-calendar-alt', 'fa-li')
            span #{project.date}
        p &nbsp;
        ul(class='fa-ul')
          li(class='has-text-justified')
            +icon('fas fa-hammer', 'fa-li')
            span(style='overflow: hidden;') #{project['desc']}
      //- Card footer
      footer(class='card-footer project-footer')
        div(class='tags')
          each t in project['tech']
            span(class='tag is-small is-link') #{t}
    if hasDetails
      +modal(project, id)

mixin modal(project, id)
  div(id=`p${id}` class='modal')
    label(class='modal-close')
    div(class='modal-background')
    div(class='modal-card')
      //- Modal header
      header(class='modal-card-head has-background-link')
        p(class='modal-card-title has-text-white') #{project['position']}
        button(class='delete' aria-label='close')
        
      //- Modal body
      section(class='modal-card-body')

        each detail in project.details
          div(class='box has-text-justified')
            h4(class='title is-5')
              p #{detail['title']}
            if detail['elements']
              ul(class='fa-ul')
                each element in detail['elements']
                  li
                    +icon('fas fa-angle-right', 'fa-li')
                    span #{element}
            

      // Modal footer
      footer(class='modal-card-foot')
        div(class='tags')
          each t in project['tech']
            span(class='tag is-small is-link') #{t}   